---
import Base from "../layouts/Base.astro";

const PUBLIC_DIR = "../../public";
const downloads = Object.keys(
  import.meta.glob("../../public/archives/*", { as: "url" })
).map((file) => file.replace(PUBLIC_DIR, ""));
---

<Base title="Events - qnapasadinatx">
  <div class="container mx-auto p-5 grid gap-5 py-10">
    {
      downloads.map((file) => (
        <a download href={`${file}`} class="link">
          {file.replace("/archives/", "")}
        </a>
      ))
    }
  </div>
</Base>
