---
import Section from "../components/Section.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Contact - qnapasadinatx">
  <Section title="contact">
    <form
      class="p-10 rounded-lg bg-base-200 mt-5 grid lg:grid-cols-3 gap-5"
      data-netlify="true"
      name="contact"
    >
      <label class="input-group">
        <span>Name</span>
        <input
          name="name"
          type="text"
          placeholder="Enter Name"
          class="input input-bordered grow"
          required
        />
      </label>

      <label class="input-group">
        <span>Email</span>
        <input
          name="email"
          type="email"
          placeholder="Enter Email"
          class="input input-bordered grow"
        />
      </label>
      <label class="input-group">
        <span>Phone</span>
        <input
          name="phone"
          type="tel"
          placeholder="Enter Phone"
          class="input input-bordered grow"
        />
      </label>
      <label class="input-group col-span-full">
        <span class="flex items-start py-3">Message</span>
        <textarea
          name="message"
          required
          class="textarea textarea-bordered grow min-h-[20rem]"
          placeholder="Enter Message"></textarea>
      </label>
      <div class="flex justify-end col-span-full">
        <button class="btn btn-primary">send</button>
      </div>
    </form>
  </Section>
</Base>
