---
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Base from "../layouts/Base.astro";

const events = await Astro.glob("../events/*.md");
const PUBLIC_DIR = "../../public";
const downloads = Object.keys(
  import.meta.glob("../../public/archives/*", { as: "url" })
).map((file) => file.replace(PUBLIC_DIR, ""));
---

<Base title="qnapasadinatx">
  <Hero />
  <div class="grid lg:grid-cols-2 container mx-auto">
    <Section title="Upcoming Events" id="hi">
      <div class="grid gap-5 py-10">
        {
          events.slice(0, 3).map((event) => (
            <div class="grid">
              <span class="text-sm opacity-75">{event.frontmatter.date}</span>
              <h3 class="font-serif text-5xl">{event.frontmatter.title}</h3>
            </div>
          ))
        }
      </div>
      <a class="btn" href="/events">View All</a>
    </Section>
    <Section title="Most Recent Downloads" id="hi">
      <div class="grid gap-5 py-10">
        {
          downloads.slice(0, 3).map((file) => (
            <div class="grid">
              <a download href={`${file}`} class="link">
                <h3 class="text-3xl">{file.replace("/archives/", "")}</h3>
              </a>
            </div>
          ))
        }
        <div>
          <h3 class="text-xl font-semibold">Rules and Regulations</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta et
            ab delectus nam voluptatem obcaecati error iure cumque possimus
            ducimus tempora pariatur blanditiis reiciendis, harum aperiam vel
            beatae officia sed.
          </p>
        </div>
      </div>
      <a class="btn" href="/archives">View All</a>
    </Section>
  </div>
  <div class="bg-base-200">
    <footer
      class="footer p-10 container mx-auto text-base-content lg:grid-cols-2 grid-flow-row"
    >
      <div>
        <span class="footer-title">Services</span>
        <a class="link link-hover">Branding</a>
        <a class="link link-hover">Design</a>
        <a class="link link-hover">Marketing</a>
        <a class="link link-hover">Advertisement</a>
      </div>
      <div>
        <span class="footer-title">Join our mailing list</span>
        <form data-netlify="true" name="mailing-list">
          <div class="form-control w-80">
            <label for="email" class="label">
              <span class="label-text">Enter your email address</span>
            </label>
            <div class="relative">
              <input
                type="email"
                name="email"
                placeholder="username@site.com"
                class="input input-bordered w-full pr-16"
                required
              />
              <button
                class="btn btn-primary absolute top-0 right-0 rounded-l-none"
                >Subscribe</button
              >
            </div>
          </div>
        </form>
      </div>
      <div class="col-span-full text-center">
        <p>Copyright © 2022 - All right reserved by ACME Industries Ltd</p>
      </div>
    </footer>
  </div>
</Base>
