---
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Base from "../layouts/Base.astro";

const events = await Astro.glob("../events/*.md");
const PUBLIC_DIR = "../../public";
const downloads = Object.keys(
  import.meta.glob("../../public/archives/*", { as: "url" })
).map((file) => file.replace(PUBLIC_DIR, ""));
---

<Base title="qnapasadinatx">
  <Hero />
  <div class="grid lg:grid-cols-2 container mx-auto">
    <Section title="Upcoming Events">
      <div class="grid gap-5 py-10">
        {
          events.slice(0, 3).map((event) => (
            <div class="grid">
              <span class="text-sm opacity-75">{event.frontmatter.date}</span>
              <h3 class="font-serif text-5xl">{event.frontmatter.title}</h3>
            </div>
          ))
        }
      </div>
      <a class="btn" href="/events">View All</a>
    </Section>
    <Section title="Most Recent Downloads">
      <div class="grid gap-5 py-10">
        {
          downloads.slice(0, 3).map((file) => (
            <div class="grid">
              <a download href={`${file}`} class="link">
                <h3 class="text-3xl">{file.replace("/archives/", "")}</h3>
              </a>
            </div>
          ))
        }
        <div>
          <h3 class="text-xl font-semibold">Rules and Regulations</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta et
            ab delectus nam voluptatem obcaecati error iure cumque possimus
            ducimus tempora pariatur blanditiis reiciendis, harum aperiam vel
            beatae officia sed.
          </p>
        </div>
      </div>
      <a class="btn" href="/archives">View All</a>
    </Section>
  </div>
</Base>
