<div class="bg-base-200">
  <div class="container mx-auto hero">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="https://placeimg.com/400/400/arch"
        class="max-w-sm rounded-lg shadow-2xl w-full h-full object-cover"
      />
      <div>
        <h1 class="text-5xl font-serif">Queens Neighborhood Association</h1>
        <p class="py-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          vulputate odio ut enim. Augue ut lectus arcu bibendum. Faucibus
          scelerisque eleifend donec pretium vulputate sapien nec sagittis
          aliquam. Mauris ultrices eros in cursus turpis massa tincidunt dui ut.
          Vitae tortor condimentum lacinia quis. Felis donec et odio
          pellentesque diam. Habitasse platea dictumst vestibulum rhoncus est
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</div>
<style>
  .hero {
    min-height: 600px;
  }
</style>
